
.gameserver_gamelogo
{
    margin-right: 2px;
}

.gameserver_detailtable
{
     
}

.gameserver_detailtable_left
{
    float: left;
    width: 100px;
}

.gameserver_detailtable_center {
    margin-left: 100px;
}

.gameserver_detailtable_right
{
    float: right;
}

.gameserver_table
{
    border: 0px;
}

@media all and (max-width: 600px) {

    .gameserver_detailtable {
        text-align: center;
    }

    .gameserver_detailtable_left {
        float: none;
        display: none;
    }

    .gameserver_detailtable_center {
        margin: 0px !important;
    }

    .gameserver_detailtable_right {
        float: none;
        margin: 5px;
    }
}

/* Filtered Serverlist */

.gameserverlist_onlineimage {
}

    .gameserverlist_onlineimage img {
        margin: 3px;
        min-width: 16px;
    }

.filteredserverlist_filter {
    
}

.filteredserverlist_filter select {
    margin: 5px;
}

.filteredserverlist_items
{
}

.filteredserverlist_item
{
    background-repeat: repeat-x;
    width: 99%;
    border: 1px solid #CCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    margin-bottom: 5px;
}

.filteredserverlist_serverdata
{
    width: 100%;
    clear: both;
    display: inline-block;
}

.filteredserverlist_logo
{
    float: left;
    margin: 5px;
    text-align: center;
}

.filteredserverlist_serverdata_name
{
    font-weight: bold;
    margin: 8px;
    float: left;
}

.filteredserverlist_loading {
    width: 20px;
    float: right;
    margin: 3px 0px;
    display: none;
}

.filteredserverlist_serverdata_address
{
    white-space: nowrap;
    vertical-align: middle;
    float: left;
    margin-left: 8px;
}

.filteredserverlist_serverdata_address div 
{
    float: left;
}

.filteredserverlist_serverdata_onlineimage {
    margin-left: 5px;
    float: left; 
}

.filteredserverlist_serverdata_onlineimage img {
    margin-left: 4px;
    margin-bottom: 5px;
}

.filteredserverlist_serverdata_address img
{
    vertical-align: middle;
    float: left;
    margin-top: 1px;
    margin-left: 8px;
}

.filteredserverlist_serverdata_mapname
{
    float: left;
    padding-left: 10px;
}

.filteredserverlist_serverdata_playersonline
{
    float: left;
    padding-left: 10px;
}

/* Tabs */

dl.tabs
{
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}

dl.tabs dt
{
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open
{
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;
}

div.current
{
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

div.current dd
{
    padding: 0;
    margin: 0;
}
