
legend
{
    color: #146295;
    font-size: 1.182em;
    font-weight: bold;
}

input, select
{
    font-size: 0.909em;
    border: 1px solid silver;
    background: #fff;
}

textarea
{
    font-size: 1.273em;
    border: 1px solid silver;
}

.clr
{
    clear: both;
    overflow: hidden;
    height: 0;
}

form
{
    margin: 0;
    padding: 0;
}

/* Administrator forms, lists */
div.adminform
{
    margin: 10px;
    overflow: hidden;
}

div.adminform legend
{
    margin: 0;
    padding: 0;
}

div.adminformlist, div.adminformlist div
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.adminform label, .adminform span.faux-label
{
    float: left;
    clear: left;
    display: block;
    margin: 5px 0;
}

form label, form span.faux-label
{
    font-size: 1.091em;
}

.adminform input, .adminform textarea, .adminform select, .adminform img
{
    float: left;
    width: auto;
    margin: 5px 5px 5px 0;
}

div.adminform textarea
{
    width: 355px;
}

div.adminform a
{
    margin: 0 !important;
}

fieldset div.checklist input
{
    clear: left;
    margin-right: 10px;
}

fieldset div.checklist label, fieldset div.menu-links label, fieldset#filter-bar label
{
    clear: none;
}
fieldset.adminform div.checklist div
{
    width: 100%;
    margin: 0;
    padding: 0;
}
fieldset.adminform div.checklist div label
{
    width: auto;
}

input.readonly
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.091em;
    padding-top: 1px;
    border: 0;
    font-weight: bold;
    color: #666;
}

#jform_id, span.readonly
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.091em;
    margin: 5px 5px 5px 0;
    font-weight: bold;
    float: left;
    display: block;
    color: #666;
}

#jform_params_alt, #jform_clickurl
{
    width: 355px;
}

#jform-imp
{
    width: 70px;
}

.mod-desc
{
    margin-left: 135px !important;
    float: none !important;
}

input.readonly
{
    background-color: #ffffff;
}

#jform_params_width, #jform_params_height, #jform_params_increase, #jform_params_shownumber, #jform_params_count
{
    width: 50px;
}

#jform_id
{
    width: 50px;
    background-color: #FFFFFF;
    border: 0 none;
}

input#jform_title, input#jform_leveltitle, input#jform_grouptitle
{
    font-size: 1.364em;
}

label#jform_title-lbl, label#jform_leveltitle-lbl, label#jform_grouptitle-lbl
{
    padding-top: 3px;
}

div#content-pane fieldset
{
    border: 0;
    padding: 10px 15px 0 15px;
}

div.panel fieldset
{
    border: 0;
}

/* Required elements */
input.required
{
    background-color: #d5eeff;
}

.star
{
    color: #EB8207;
    font-size: 1.2em;
}

/* Field label widths - long label */
div.adminform.long label, div.adminform.long span.faux-label
{
    min-width: 180px;
}

/* Field label widths - short label */
div.adminform label, div.adminform span.faux-label
{
    min-width: 135px;
    padding: 0 5px 0 0;
}

.adminform div, ol#property-values div
{
    list-style: none;
}

.media-preview
{
    margin: 10px;
    clear: both;
}

.button2-left
{
    margin: 0;
}

/* TABS */

dl.tabs
{
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}

dl.tabs dt
{
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
    background: #f0f0f0;
    color: #666;
}

dl.tabs dt.open
{
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;
}

div.current
{
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

div.current dd
{
    padding: 0;
    margin: 0;
}
